*.ini 

datasets/dataset-v1-dih4cps/

datasets/dataset-v2-dih4cps/

tf2_object_detection_API/models/

tf2_object_detection_API/pretrained_models/

trained_models/0_weitere/

trained_models/.vscode/

evaluation/.vscode/

evaluation/Object-Detection-Metrics/

model_usage/__pycache__/
